*,*::after,*::before{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'GloriaHallelujah';
  src: url('./assets/FONTS/Gloria_Hallelujah/GloriaHallelujah-Regular.ttf');
}
body{
  overflow: hidden;
}